.q_lang-1{font-family:'Roboto'; font-size:16px;}
.q_lang-1-width{font-family:'Roboto'; font-size:16px; width:100%;}
.home-syllabus-mobile{font-family:'Roboto Condensed'; font-size:16px; line-height:24px; padding:6px 12px;}
.home-rightbar-position{padding:0px; position: fixed; top: 65px; right: 15px; width: 200px; height: auto;}
.desktop{display:block;}
.mobile{display:none;}
.menu-hide-for-mobile{display:none;}
.menu-hide-for-desktop-display{display:block;}
.home-panel{margin:0px 15px 15px 15px;padding:10px 15px;background:#FFF;width:calc(100% - 30px);}
p.home-welcome-text{margin-bottom:8px;}
.home-welcome-name{font-size:20px;font-family:'Roboto Condensed';line-height:1.5;font-weight:bold;}
.home-welcome-text-upsc{font-size:18px;font-family:'Roboto';line-height:1.5;}
.home-welcome-text-mpsc{font-size:20px;font-family:'Noto Sans Devanagari UI Regular';line-height:27px;}
.home-welcome-mobile{font-size:18px;font-family:'Roboto';line-height:1.5;border-radius:0px;background:#F0F0F0;padding:6px;}
.btn-mobile-no{margin: 5px 0px;padding: 6px 12px;color: #FFF;font-size: 14px;font-family: 'Roboto Condensed';}
.home-panel-feature-name{padding:0px 5px;float:left;line-height:18px;}
.home-panel-feature-upsc-font{font-size:12px;font-family:'Roboto Light';}
.home-panel-feature-mpsc-font{font-size:14px;font-family:'Noto Sans Devanagari UI Regular';}
.home-panel-feature-mpsc-font-notes{font-size:28px;line-height:28px;font-family:'Shree-Dev-0708';font-weight:500;}
.home-panel-feature-category{font-size:12px;line-height:1.5;text-align:right;font-family:'Roboto Light';}
.home-panel-image-container{margin:0px;padding:0px;height:135px;width:240px;overflow:hidden;position:relative;float:left;}
.home-panel-image-container img{height:auto;min-height:135px;width:240px;}
.home-panel-image-text-container{padding:0px 15px;height:135px;width:calc(100% - 240px);position:relative;float:left;}
.home-panel-image-text,
.home-panel-text{width:100%;max-height:50px;padding:0px;margin:0px;}
.home-panel-text-upsc-font{font-size:18px;font-family:'Roboto Condensed';line-height:1.25;}
.home-panel-text-mpsc-font{font-size:20px;font-family:'Noto Sans Devanagari UI Regular';line-height:25px;}
.home-panel-text-mpsc-font-notes{font-size:28px;line-height:28px;font-family:'Shree-Dev-0708';font-weight:500;}
.home-panel-image-text{height:50px;}
.home-panel-additional-text-container,
.home-panel-author-container{height:50px;padding:10px 0;}
.home-panel-author-image{position:relative;float:left;width:30px;height:30px;border-radius:15px;}
.home-panel-author-image img{width:30px;height:30px;border-radius:15px;}
.home-panel-author-name{position:relative;float:left;height:30px;font-size:16px;line-height:30px;padding:0px 0px 0px 10px;color:#888;font-family:'Roboto';}
.home-panel-views{width:100%;text-align:right;padding-top:17px;height:35px;float:left;position:relative;}
.home-panel-views-upsc-font{font-size:12px;line-height:18px;font-family:'Roboto Light';}
.home-panel-views-mpsc-font{font-size:14px;line-height:18px;font-family:'Noto Sans Devanagari UI Regular';}
.home-panel-views-mpsc-font-notes{font-size:28px;height:56px;line-height:28px;font-family:'Shree-Dev-0708';font-weight:500;}
.home-panel-additional-info-mpsc-font-notes{font-size:18px;height:56px;line-height:28px;font-family:'Shree-Dev-0708';font-weight:500;}
.home-panel-additional-info-1{position:relative;float:left;height:30px;padding:0px 15px 0px 0px;text-align:left;}
.home-panel-additional-info-upsc-font{font-size:16px;line-height:20px;font-family:'Roboto';}
.home-panel-additional-info-mpsc-font{font-size:16px;line-height:20px;font-family:'Noto Sans Devanagari UI Regular';}
.home-panel-additional-info-mpsc-font_notes{font-size:28px;height:56px;line-height:28px;font-family:'Shree-Dev-0708';font-weight:500;}
.home-panel-additional-info-2{position:relative;float:right;height:30px;padding:0px 0px 0px 15px;text-align:right;}
.article-main-timeline-ele-vertical{position:relative;float:left;width:100%;padding:0px;margin:0px;height:auto;}
.article-timeline-upsc-font{font-size:16px;line-height:24px;font-family:'Roboto Light';}
.article-main-timeline-ele-date-vertical{position:relative;float:left;width:160px;padding:7.5px 20px 7.5px 0px;margin:0px;height:auto;text-align:right;color:#2d2d2a;font-family:'Roboto Light';font-size:16px;}
.article-main-timeline-ele-title-vertical{position:relative;float:left;width:calc(100% - 160px);padding:7.5px 0px 7.5px 30px;margin:0px;height:auto;border-left:1px dashed #AAA;color:#2d2d2a;font-family:'Roboto Light';font-size:16px;}
.article-main-timeline-ele-marker-vertical{position:absolute;float:left;left:154px;top:7.5px;color:#2d2d2a;padding:0px;}
.summary{font-family: 'Roboto Condensed'; font-size: 20px; padding:0px; margin: 20px 20px; font-size:20px;text-align:center;}
.summary-data{text-align: justify; padding:0px; margin: 20px 20px;font-family:'Roboto Light';font-size:16px;}
.context{font-family: 'Roboto Condensed'; font-size: 20px; padding:15px 15px; margin: 15px 15px;text-align:center;}
.context-data{text-align: justify; padding:0px; margin: 20px 20px;font-family:'Roboto Light';font-size:16px;}
.timeline{font-family: 'Roboto Condensed'; font-size: 20px; padding:0px; margin: 20px 20px;font-size:20px;text-align:center;}
.timeline-data{text-align: justify; padding:0px; margin: 20px 20px;font-family:'Roboto Condensed';font-size:16px;text-align:center;}
.references{font-family:'Roboto Condensed';font-size:20px;text-align:center;}
.references-source-headlines{font-family:'Roboto Light';font-size:16px;margin-left:20px;}
.references-source-websites{font-family:'Roboto Light';font-size:16px;}
.category-news{margin-left:25px;font-family:'Roboto Condensed';}
.news-title{text-align: justify; padding:0px; margin: 20px; font-size: 24px;font-family:'Roboto Condensed';}
@media only screen and (max-width:420px){
.q_lang-1-width{font-family:'Roboto'; font-size:16px; width:100%;}
.home-syllabus-mobile{font-family:'Roboto Condensed'; font-size:12px; height:60px; line-height:18px; padding:0px;white-space:normal;width:100%;}
.desktop{display:none;}
.mobile{display:block;}
.menu-hide-for-mobile{display:block;}
.menu-hide-for-desktop-display{display:none;}
.home-body{padding:0px;}
.home-panel{margin:0px 0px 15px 0px;padding:10px 15px;background:#FFF;width:100%;}
.mobile-no-dummy{display:none;}
.home-welcome-name{font-size:18px;font-weight:bold;}
.home-welcome-text{font-size:14px;}
.home-welcome-mobile{font-size:14px;margin-bottom:10px;}
.home-panel-image-container{padding-bottom:56.25%;width:100%;overflow:hidden;position:relative;float:left;}
.home-panel-image-container img{height:auto;min-height:100%;width:100%;}
.home-panel-image-text-container{padding:5px 0;height:auto;width:100%;position:relative;float:left;}
.home-panel-image-text,
.home-panel-text{width:100%;font-size:18px;font-family:'Roboto Condensed';line-height:1.25;max-height:54px;padding:0px;margin:0px;}
.home-panel-image-text{height:auto;}
.home-panel-additional-text-container,
.home-panel-author-container{height:auto;padding:10px 0;}
.home-panel-author-image{position:relative;float:left;width:20px;height:20px;border-radius:10px;}
.home-panel-author-image img{width:20px;height:20px;border-radius:10px;}
.home-panel-author-name{position:relative;float:left;height:20px;font-size:14px;line-height:20px;}
.home-panel-views{padding-top:0px;height:auto;}
.home-panel-additional-info-1{height:auto;font-size:14px;line-height:20px;}
.home-panel-additional-info-2{height:auto;font-size:16px;line-height:20px; text-align:left;}
.bulletin-last-date-mpsc{font-size:16px;font-family:'Noto Sans Devanagari UI Regular';margin:5px 0px;}
.bulletin-exam-date-mpsc{text-align:center;font-family:'Noto Sans Devanagari UI Regular';}
.bulletin-exam-date-upsc{text-align:center;font-family:'Roboto Condensed';}
.mock-test-panel-name{menu-textmargin:5px 0px;}
.article-main-timeline-ele-vertical{position:relative;float:left;width:100%;padding:0px;margin:0px;height:auto;}
.article-timeline-upsc-font{font-size:16px;line-height:24px;font-family:'Roboto Light';}
.article-main-timeline-ele-date-vertical{position:relative;float:left;width:110px;padding:7.5px 20px 7.5px 0px;margin:0px;height:auto;text-align:right;color:#2d2d2a;font-family:'Roboto Light';font-size:14px;}
.article-main-timeline-ele-title-vertical{position:relative;float:left;width:calc(100% - 160px);padding:7.5px 0px 7.5px 10px;margin:0px;height:auto;border-left:1px dashed #AAA;color:#2d2d2a;font-family:'Roboto Light';font-size:14px;}
.article-main-timeline-ele-marker-vertical{position:absolute;float:left;left:90px;top:7.5px;color:#2d2d2a;padding:0px;}
.summary{font-family: 'Roboto Condensed'; font-size: 16px; padding:0px; margin: 20px 20px;align:center;}
.summary-data{text-align: justify; padding:0px; margin: 20px 20px;font-family:'Roboto Light';font-size:14px;}
.context{font-family: 'Roboto Condensed'; font-size: 16px; padding:15px 15px; margin: 15px 15px;text-align:center;}
.context-data{text-align: justify; padding:0px; margin: 20px 20px;font-family:'Roboto Light';font-size:14px;}
.timeline{font-family: 'Roboto Condensed'; font-size: 16px; padding:0px; margin: 20px 20px;text-align:center;}
.timeline-data{padding:0px; margin: 0px 0px;font-family:'Roboto Condensed';font-size:14px;}
.references{font-family:'Roboto Condensed';font-size:16px;text-align:center;}
.references-source-headlines{font-family:'Roboto Light';font-size:14px;margin-left:20px;}
.references-source-websites{font-family:'Roboto Light';font-size:14px;}
.category-news{margin-left:25px;font-family:'Roboto Condensed';}
.news-title{text-align: justify; padding:0px; margin: 20px; font-size: 20px;font-family:'Roboto Condensed';}}
@media (min-width:640px) and (max-width:767px){
.q_lang-1-width{font-family:'Roboto'; font-size:16px; width:100%;}
.home-panel-additional-info-mpsc-font_notes{font-size:28px;height:56px;line-height:28px;font-family:'Shree-Dev-0708';font-weight:500;}
.home-syllabus-mobile{font-family:'Roboto Condensed'; font-size:12px; line-height:18px; padding:0px;white-space:normal;width:100%;}
.home-syllabus-mobile{display:none;}
.menu-hide-for-mobile{display:block;}
.menu-hide-for-desktop-display{display:none;}
.home-body{padding:0px;}
.home-panel{margin:0px 0px 15px 0px;padding:10px 15px;background:#FFF;width:100%;}
.mobile-no-dummy{display:none;}
.home-welcome-name{font-size:18px;font-weight:bold;}
.home-welcome-text{font-size:14px;}
.home-welcome-mobile{font-size:14px;margin-bottom:10px;}
.home-panel-image-container{padding-bottom:56.25%;width:100%;overflow:hidden;position:relative;float:left;}
.home-panel-image-container img{height:auto;min-height:100%;width:100%;}
.home-panel-image-text-container{padding:5px 0;height:auto;width:100%;position:relative;float:left;}
.home-panel-image-text,
.home-panel-text{width:100%;font-size:18px;font-family:'Roboto Condensed';line-height:1.25;max-height:54px;padding:0px;margin:0px;}
.home-panel-image-text{height:auto;}
.home-panel-additional-text-container,
.home-panel-author-container{height:auto;padding:10px 0;}
.home-panel-author-image{position:relative;float:left;width:20px;height:20px;border-radius:10px;}
.home-panel-author-image img{width:20px;height:20px;border-radius:10px;}
.home-panel-author-name{position:relative;float:left;height:20px;font-size:14px;line-height:20px;}
.home-panel-views{padding-top:0px;height:auto;}
.home-panel-additional-info-1{height:auto;font-size:14px;line-height:20px;}
.home-panel-additional-info-2{height:auto;font-size:14px;line-height:20px;text-align:left;}
.bulletin-last-date-mpsc{font-size:16px;font-family:'Noto Sans Devanagari UI Regular';margin:5px 0px;}
.bulletin-exam-date-mpsc{text-align:center;font-family:'Noto Sans Devanagari UI Regular';}
.bulletin-exam-date-upsc{text-align:center;font-family:'Roboto Condensed';}
.mock-test-panel-name{menu-textmargin:5px 0px;}
.article-main-timeline-ele-vertical{position:relative;float:left;width:100%;padding:0px;margin:0px;height:auto;}
.article-timeline-upsc-font{font-size:16px;line-height:24px;font-family:'Roboto Light';}
.article-main-timeline-ele-date-vertical{position:relative;float:left;width:160px;padding:7.5px 20px 7.5px 0px;margin:0px;height:auto;text-align:right;color:#2d2d2a;font-family:'Roboto Light';font-size:14px;}
.article-main-timeline-ele-title-vertical{position:relative;float:left;width:calc(100% - 160px);padding:7.5px 0px 7.5px 10px;margin:0px;height:auto;border-left:1px dashed #AAA;color:#2d2d2a;font-family:'Roboto Light';font-size:14px;}
.article-main-timeline-ele-marker-vertical{position:absolute;float:left;left:154px;top:7.5px;color:#2d2d2a;padding:0px;}
.summary{font-family: 'Roboto Condensed'; font-size:16px; padding:0px; margin: 20px 20px;align:center;}
.summary-data{text-align: justify; padding:0px; margin: 20px 20px;font-family:'Roboto Light';font-size:14px;}
.context{font-family: 'Roboto Condensed'; font-size: 16px; padding:15px 15px; margin: 15px 15px;text-align:center;}
.context-data{text-align: justify; padding:0px; margin: 20px 20px;font-family:'Roboto Light';font-size:14px;}
.timeline{font-family: 'Roboto Condensed'; font-size: 16px; padding:0px; margin: 20px 20px;text-align:center;}
.timeline-data{padding:0px; margin: 0px -50px;font-family:'Roboto Condensed';font-size:14px;}
.references{font-family:'Roboto Condensed';font-size:16px;text-align:center;}
.references-source-headlines{font-family:'Roboto Light';font-size:14px;margin-left:20px;}
.references-source-websites{font-family:'Roboto Light';font-size:14px;}
.category-news{margin-left:25px;font-family:'Roboto Condensed';}
.news-title{text-align: justify; padding:0px; margin: 20px; font-size: 20px;font-family:'Roboto Condensed';}}
}
@media (min-width:421px) and (max-width:639px){
.q_lang-1-width{font-family:'Roboto'; font-size:16px; width:100%;}
.home-panel-additional-info-mpsc-font_notes{font-size:28px;height:56px;line-height:28px;font-family:'Shree-Dev-0708';font-weight:500;}
.menu-hide-for-mobile{display:block;}
.menu-hide-for-desktop-display{display:none;}
.home-body{padding:0px;}
.home-panel{margin:0px 0px 15px 0px;padding:10px 15px;background:#FFF;width:100%;}
.mobile-no-dummy{display:none;}
.home-welcome-name{font-size:18px;font-weight:bold;}
.home-welcome-text{font-size:14px;}
.home-welcome-mobile{font-size:14px;margin-bottom:10px;}
.home-panel-image-container{padding-bottom:56.25%;width:100%;overflow:hidden;position:relative;float:left;}
.home-panel-image-container img{height:auto;min-height:100%;width:100%;}
.home-panel-image-text-container{padding:5px 0;height:auto;width:100%;position:relative;float:left;}
.home-panel-image-text,
.home-panel-text{width:100%;font-size:18px;font-family:'Roboto Condensed';line-height:1.25;max-height:54px;padding:0px;margin:0px;}
.home-panel-image-text{height:auto;}
.home-panel-additional-text-container,
.home-panel-author-container{height:auto;padding:10px 0;}
.home-panel-author-image{position:relative;float:left;width:20px;height:20px;border-radius:10px;}
.home-panel-author-image img{width:20px;height:20px;border-radius:10px;}
.home-panel-author-name{position:relative;float:left;height:20px;font-size:14px;line-height:20px;}
.home-panel-views{padding-top:0px;height:auto;}
.home-panel-additional-info-1{height:auto;font-size:14px;line-height:20px;}
.home-panel-additional-info-2{height:auto;font-size:14px;line-height:20px;text-align:left;}
.bulletin-last-date-mpsc{font-size:16px;font-family:'Noto Sans Devanagari UI Regular';margin:5px 0px;}
.bulletin-exam-date-mpsc{text-align:center;font-family:'Noto Sans Devanagari UI Regular';}
.bulletin-exam-date-upsc{text-align:center;font-family:'Roboto Condensed';}
.mock-test-panel-name{menu-textmargin:5px 0px;}
.article-main-timeline-ele-vertical{position:relative;float:left;width:100%;padding:0px;margin:0px;height:auto;}
.article-timeline-upsc-font{font-size:16px;line-height:24px;font-family:'Roboto Light';}
.article-main-timeline-ele-date-vertical{position:relative;float:left;width:160px;padding:7.5px 20px 7.5px 0px;margin:0px;height:auto;text-align:right;color:#2d2d2a;font-family:'Roboto Light';font-size:14px;}
.article-main-timeline-ele-title-vertical{position:relative;float:left;width:calc(100% - 160px);padding:7.5px 0px 7.5px 10px;margin:0px;height:auto;border-left:1px dashed #AAA;color:#2d2d2a;font-family:'Roboto Light';font-size:14px;}
.article-main-timeline-ele-marker-vertical{position:absolute;float:left;left:154px;top:7.5px;color:#2d2d2a;padding:0px;}
.summary{font-family: 'Roboto Condensed'; font-size:16px; padding:0px; margin: 20px 20px;align:center;}
.summary-data{text-align: justify; padding:0px; margin: 20px 20px;font-family:'Roboto Light';font-size:14px;}
.context{font-family: 'Roboto Condensed'; font-size: 16px; padding:15px 15px; margin: 15px 15px;text-align:center;}
.context-data{text-align: justify; padding:0px; margin: 20px 20px;font-family:'Roboto Light';font-size:14px;}
.timeline{font-family: 'Roboto Condensed'; font-size: 16px; padding:0px; margin: 20px 20px;text-align:center;}
.timeline-data{padding:0px; margin: 0px -50px;font-family:'Roboto Condensed';font-size:14px;}
.references{font-family:'Roboto Condensed';font-size:16px;text-align:center;}
.references-source-headlines{font-family:'Roboto Light';font-size:14px;margin-left:20px;}
.references-source-websites{font-family:'Roboto Light';font-size:14px;}
.category-news{margin-left:25px;font-family:'Roboto Condensed';}
.news-title{text-align: justify; padding:0px; margin: 20px; font-size: 20px;font-family:'Roboto Condensed';}}
}
@media (min-width:768px) and (max-width:1024px){
.q_lang-1-width{font-family:'Roboto'; font-size:16px; width:100%;}
.home-panel-additional-info-mpsc-font_notes{font-size:28px;height:56px;line-height:28px;font-family:'Shree-Dev-0708';font-weight:500;}
.desktop{display:none;}
.mobile{display:block;}
.menu-hide-for-mobile{display:block;}
.menu-hide-for-desktop-display{display:none;}
.home-body{padding:0px;}
.home-panel{margin:0px 0px 15px 0px;padding:10px 15px;background:#FFF;width:100%;}
.mobile-no-dummy{display:none;}
.home-welcome-name{font-size:18px;font-weight:bold;}
.home-welcome-text{font-size:14px;}
.home-welcome-mobile{font-size:14px;margin-bottom:10px;}
.home-panel-image-container{padding-bottom:56.25%;width:100%;overflow:hidden;position:relative;float:left;}
.home-panel-image-container img{height:auto;min-height:100%;width:100%;}
.home-panel-image-text-container{padding:5px 0;height:auto;width:100%;position:relative;float:left;}
.home-panel-image-text,
.home-panel-text{width:100%;font-size:18px;font-family:'Roboto Condensed';line-height:1.25;max-height:54px;padding:0px;margin:0px;}
.home-panel-image-text{height:auto;}
.home-panel-additional-text-container,
.home-panel-author-container{height:auto;padding:10px 0;}
.home-panel-author-image{position:relative;float:left;width:20px;height:20px;border-radius:10px;}
.home-panel-author-image img{width:20px;height:20px;border-radius:10px;}
.home-panel-author-name{position:relative;float:left;height:20px;font-size:14px;line-height:20px;}
.home-panel-views{padding-top:0px;height:auto;}
.home-panel-additional-info-1{height:auto;font-size:14px;line-height:20px;}
.home-panel-additional-info-2{height:auto;font-size:14px;line-height:20px;text-align:left;}
.bulletin-last-date-mpsc{font-size:16px;font-family:'Noto Sans Devanagari UI Regular';margin:5px 0px;}
.bulletin-exam-date-mpsc{text-align:center;font-family:'Noto Sans Devanagari UI Regular';}
.bulletin-exam-date-upsc{text-align:center;font-family:'Roboto Condensed';}
.mock-test-panel-name{menu-textmargin:5px 0px;}
.article-main-timeline-ele-vertical{position:relative;float:left;width:100%;padding:0px;margin:0px;height:auto;}
.article-timeline-upsc-font{font-size:16px;line-height:24px;font-family:'Roboto Light';}
.article-main-timeline-ele-date-vertical{position:relative;float:left;width:160px;padding:7.5px 20px 7.5px 0px;margin:0px;height:auto;text-align:right;color:#2d2d2a;font-family:'Roboto Light';font-size:14px;}
.article-main-timeline-ele-title-vertical{position:relative;float:left;width:calc(100% - 160px);padding:7.5px 0px 7.5px 10px;margin:0px;height:auto;border-left:1px dashed #AAA;color:#2d2d2a;font-family:'Roboto Light';font-size:14px;}
.article-main-timeline-ele-marker-vertical{position:absolute;float:left;left:90px;top:7.5px;color:#2d2d2a;padding:0px;}
.summary{font-family: 'Roboto Condensed'; font-size: 16px; padding:0px; margin: 20px 20px;align:center;}
.summary-data{text-align: justify; padding:0px; margin: 20px 20px;font-family:'Roboto Light';font-size:14px;}
.context{font-family: 'Roboto Condensed'; font-size: 16px; padding:15px 15px; margin: 15px 15px;text-align:center;}
.context-data{text-align: justify; padding:0px; margin: 20px 20px;font-family:'Roboto Light';font-size:14px;}
.timeline{font-family: 'Roboto Condensed'; font-size: 16px; padding:0px; margin: 20px 20px;text-align:center;}
.timeline-data{padding:0px; margin: 0px 0px;font-family:'Roboto Condensed';font-size:14px;}
.references{font-family:'Roboto Condensed';font-size:16px;text-align:center;}
.references-source-headlines{font-family:'Roboto Light';font-size:14px;margin-left:20px;}
.references-source-websites{font-family:'Roboto Light';font-size:14px;}
.category-news{margin-left:25px;font-family:'Roboto Condensed';}
.news-title{text-align: justify; padding:0px; margin: 20px; font-size: 20px;font-family:'Roboto Condensed';}}


@media (min-width:600px) and (max-width:960px){
.q_lang-1-width{font-family:'Roboto'; font-size:16px; width:100%;}
.home-panel-additional-info-mpsc-font_notes{font-size:28px;height:56px;line-height:28px;font-family:'Shree-Dev-0708';font-weight:500;}
.menu-hide-for-mobile{display:block;}
.menu-hide-for-desktop-display{display:none;}
.home-panel-additional-info-2{height:auto;font-size:14px;line-height:20px;text-align:left;}
}

@media (min-width:768px) and (max-width:1024px){
.q_lang-1-width{font-family:'Roboto'; font-size:16px; width:100%;}
.home-panel-additional-info-mpsc-font_notes{font-size:28px;height:56px;line-height:28px;font-family:'Shree-Dev-0708';font-weight:500;}
.menu-hide-for-mobile{display:block;}
.menu-hide-for-desktop-display{display:none;}
.div1010{width: 100%;}
.home-panel-additional-info-2{height:auto;font-size:14px;line-height:20px;text-align:left;}
}


html,body {
    height:100%;
	width:100%;
	position:relative;
}
#background-carousel{
	position:fixed;
	width:100%;
	height:100%;
	z-index:-1;
}
.carousel,
.carousel-inner {
	width:100%;
	height:100%;
	z-index:0;
	overflow:hidden;
}
.item {
	width:100%;
	height:100%;
	background-position:center center;
	background-size:cover;
	z-index:0;
}

#content-wrapper {
	position:absolute;
	z-index:1 !important;
	min-width:100%;
	min-height:100%;
}
.well {
    opacity:0.85
}