<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="David Assignment">
    <title>Fynd - IMDb</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap2.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/app.css'%}" rel="stylesheet">
    <link href="{% static 'css/creative.min.css'%}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'css/font-awesome.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/sweet-alert.css'%}" rel="stylesheet" type="text/css">

    {% block header %}{% endblock %}
</head>
<body style="background-color:#FBEEC1;"><!--#FBEEC1-->
    {% block before_nav %}{% endblock %}
     <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="padding:0px">
      <div class="container">
        <a class="navbar-brand" href="" style="padding:0px;"><img width="100%" height="60%" src="/static/images/logo2.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto pull-right">
               <li class="nav-item">
              <a class="nav-link" href="/" style="padding:0px;margin-top:14px;margin-right:40px;">
                  <font size="4px"> Home</font>
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/all_movies" style="padding:0px;margin-top:14px;margin-right:40px;">
                  <font size="4px">Movies</font></a>
            </li>
            {% if user_name %}
              <li class="nav-item"><a class="nav-link" href="/sign_out" style="padding:0px;margin-top:14px;margin-right:40px;">
                  <font size="4px">Sign Out</font></a></li>
                <li class='nav-item'>
                    <a class="nav-link" href="#" style="padding:0px;margin-top:14px;margin-right:40px;">
                        <font size="4px"> Hello {{ user_name }}! </font></a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="/sign_in" style="padding:0px;margin-top:14px;margin-right:40px;">
                  <font size="4px">Sign In</font></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
{% block body_content %} {% endblock %}
{% block footer %} {% endblock %}

<script src="{% static 'js/sweet-alert.js'%}"></script>
<script src="{% static 'js/jquery-1.12.4.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery-ui-1.12.1.js'%}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
<script>
    WebFont.load({
      google: {
        families: ["Cookie:regular"]
      }
    });
</script>
<!--<script type='text/javascript' src="{% static 'js/movie_search_typeahead.js'%}" ></script>-->

{% block script_tag %}

{% endblock %}
</body>
</html>
