{% extends "base.html" %}
{% load static %}

{% block header %}
<!--<link href="static/css/bootstrap2.min.css" rel="stylesheet"/>-->
<link href="static/css/4-cols-portfolio.css" rel="stylesheet"/>
<style>
a {
    transition: all .35s;
    color: rgb(0,176,240)
}
a:focus, a:hover {
    color: #F05F40;
}

</style>
{% endblock %}

{% block body_content %}
<div class="container">
  <div class="row">
    <h1 class="my-4">View All Movies</h1>
    <div style="margin-top:35px;padding-left:35px;">
      <a href="/" class="btn btn-sucess pull-right" >
        <i class="fa fa-search" style="padding-right:10px;"></i>
        Search a Movie Here</a>
    </div>
  </div>
  <div class="row">
     {% for row in movies_obj %}
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" style="padding-bottom:20px;">
          <div class="card2 h-100 ">
            <a href="#"><img class="card2-img-top" style="opacity:0.8;filter:alpha(opacity=50);"
                             src="{% static 'images/movie_logo.jpg' %}" alt="">
              </a>
            <div class="card2-body">
              <h4 class="card2-title">
                <a href="#">{{ row.m_title }}</a>
                <input type="hidden" id="title_{{row.m_id}}" value="{{ row.m_title }}"/>
              </h4>
              <p class="card2-text">- By {{ row.m_director }}</p>
                <p class="card2-text">Genre: {{ row.m_genre }}</p>
                <p class="card2-text">
                <span style="text-align:right;font-size:12px;position:absolute;bottom:0;right:0;">
                  IMDB Score:
                  <b style="color:red;font-size:14px;">{{ row.m_imdb_score }}</b><br/>
                  99popularity:
                  <b style="color:red;font-size:14px;" id="available_books_{{row.m_id}}">{{ row.m_99popularity }}</b>
                </span>
              </p>
            </div>
          </div>
        </div>
     {% endfor %}
  </div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.bundle.min.js"></script>
{% endblock %}

{% block script_tag %}
<script type="text/javascript">
$(document).ready(function(){

{% for row in books_obj %}
  var resetBtn_{{ row.name }} = document.getElementById("disabled_issue_book_{{ row.name }}");
  resetBtn_{{ row.name }}.disabled = "disabled";
{% endfor %}

});

function issue_book(book_id){
    var book_title = $("#title_"+book_id).val();
    swal({
        async: true,
        title: "Are you sure?",
        text: "Do you want to issue "+book_title+" Book!",
        type: "warning",
        showCancelButton: true,
        confirmButtonClass: "btn-success",
        confirmButtonText: "Yes, Issue it!",
        closeOnConfirm: false
        },
    function(){
      $.ajax({
            type: 'POST',
            async: true,
            url: '/issue_book/'+book_id,
            data: [],
            success: function(result){
                if(result=="DONE"){
                    swal("Issued!", "Remember to return book exactly after a week!", "success");
                    setTimeout(function(){ window.location.reload(); }, 1600);
                }else{
                  swal("Book Issuing reached to maximum limit! Return to get new!")
                }
              }
            });
    });
}
</script>
{% endblock %}
